<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/chat.js"></script>
</head>
<body>

<div class="container" style="margin-left:10px; margin-top:10px;">
    <div class="row">
        <h2 class="col-sm-8 col-xs-12"><strong>Express + Socket.io + Bootstrapテンプレート</strong></h2>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-6" id="type"></div>
    </div>

    <div class="form-inline" style="margin-bottom:15px; margin-top:25px;">
        <div class="form-group">
            <button type="button" id="button1" class="btn btn-info">ボタン１</button>
            <button type="button" id="button2" class="btn btn-primary">ボタン２</button>
            <button type="button" id="button3" class="btn btn-success">ボタン３</button>
        </div>
    </div>

    <div class="form-inline" style="margin-bottom:15px; margin-top:20px;">
        <div class="form-group">
            <input type="text" id="command" class="form-control" placeholder="command">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="send">送信</button>
        </div>
    </div>

    <div class=#form-group">
        <video id="myVideo" autoplay width="240" height="160"></video>
    </div>
    <div id="receiveMsg"></div>
</div>
</body>
</html>
